p, li {
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-areas: 
        'header header header header header header'
        '. sidebar main main main .';
        grid-gap: 5% 10%;
}

.header{
    grid-area: header;
    background-color: rgb(33, 180, 28);
    /*text-align: center;*/
    padding: 30px;

}

.sidebar{
    grid-area: sidebar;
    background-color: #e8fccf;
    padding: 5% 10%;
    width: 120%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    vertical-align: middle;
    padding: 2px;
    border-radius: 25%;
}

.sidebar > ul {
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main {
    grid-area: main;

}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin-right: 10px;
    padding-right: 20px;
}


.flex-container > div > h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: sans-serif;
}

.flex-container > .date-div {
    box-sizing: border-box;
    width: 140px;
}

p.info-details {
    width: 500px;
}

#header-title {
    display: inline-block;
    margin: 0 auto;
    width: 60%;
    border: 2px solid white;
    color: white;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}